body {font-family:  Helvetica;
font-size: 5;
background-color:blanchedalmond;
color: cadetblue;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100 vh;
}

.container{
  padding: 25px;
  width: 300px;
  border-radius: 8px;
}

input{
   width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
}

button{
    width: 100%;
  padding: 10px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled{
  color: gray;
}
#message {
  margin-bottom: 10px;
  font-size: 14px;
}