* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(35deg, rgb(177, 33, 81), rgb(211, 7, 37));
}

.todo {
  width: 100%;
  max-width: 540px;    
  background-color: antiquewhite;
  padding: 24px;        
  border-radius: 12px;
  margin: auto;
}

.tasks{
    padding: 6px 16px;
    list-style: none;
    padding: 0%;
    margin: auto;
}

.row {
  display: flex;
  align-items: center;
  background:transparent;
  border-radius: 50px;
  padding: 3px;
  margin-top: 16px;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 12px 16px;
}

.row button {
  border-radius: 50px;
  padding: 12px 24px;
  background: #00606f;
  border: none;
  outline: none;
}
.row button :hover{
    color: black;
}

ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;   /* THIS creates space */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(35deg, rgb(177, 33, 81), rgb(211, 7, 37));
}

.todo {
  width: 100%;
  max-width: 540px;    
  background-color: antiquewhite;
  padding: 24px;        
  border-radius: 12px;
  margin: auto;
}

.tasks{
    padding: 6px 16px;
    list-style: none;
    padding: 0%;
    margin: auto;
}

.row {
  display: flex;
  align-items: center;
  background:transparent;
  border-radius: 50px;
  padding: 3px;
  margin-top: 16px;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 12px 16px;
}

.row button {
  border-radius: 50px;
  padding: 12px 24px;
  background: #00606f;
  border: none;
  outline: none;
}
.row button :hover{
    color: black;
}

ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;   /* THIS creates space */
}

li button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


